<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>
    <div id="profile-section">
        <div class="profile flex">
            <img class="useravatar w-14" id="useravatar" src="https://via.placeholder.com/150" alt="Profile picture">
            <h2 class="username" id="username">Name:</h2>
            <p class="useremail" id="useremail">Email</p> <!-- Make sure this is included -->
        </div>
    </div>

    <script>
       
    </script>
</body>

</html>
